
@section styles {

    <style type="text/css">
       
        .Pager span {
            text-align: center;
            color: #333;
            display: inline-block;
            width: 20px;
            background-color: #B8DBFD;
            margin-right: 3px;
            line-height: 150%;
            border: 1px solid #B8DBFD;
        }

        .Pager a {
            text-align: center;
            display: inline-block;
            width: 20px;
            background-color: #ccc;
            color: #333;
            border: 1px solid #ccc;
            margin-right: 3px;
            line-height: 150%;
            text-decoration: none;
        }
    </style>
}
<!-- start page content -->
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">Water Courses</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li>
                        <i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">Water Courses</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card card-box">
                    <div class="card-head">
                        <header>SELECT WATERCOURCES</header>
                        <button id="panel-button6"
                                class="mdl-button mdl-js-button mdl-button--icon pull-right"
                                data-upgraded=",MaterialButton">
                            <i class="material-icons">more_vert</i>
                        </button>
                    </div>
                    <div class="card-body " id="bar-parent5">

                        <form class="row">
                            <div class="form-group col-lg-2 col-md-2 col-sm-2 col-2">
                                <label>District </label>
                                <select id="ddlDistrict" name="ddlDistrict" class="form-control" required>
                                    <option value="">--Select--</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-2 col-md-2 col-sm-2 col-2">
                                <label>Tehsil </label>
                                <select id="ddlTehsil" name="ddlTehsil" class="form-control" required>
                                    <option value="" selected>--Select--</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-2 col-md-2 col-sm-2 col-2">
                                <label>	Channel </label>
                                <input id="txtChannelName" class="form-control" />
                            </div>
                            <div class="form-group col-lg-2 col-md-2 col-sm-2 col-2">
                                <label>	WaterCourseNo </label>
                                <input id="txtwaterCourseNo" class="form-control" />
                            </div>
                        </form>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-topline-red">
                                    <div class="card-head">
                                        <header>List of Selected Watercourses</header>

                                    </div>
                                    <div class="card-body ">
                                        <div class="row p-b-20">
                                            <div class="col-md-6 col-sm-6 col-6">
                                                <div class="btn-group">
                                                    <button data-toggle="modal" data-target="#exampleModal" class="btn btn-info">
                                                        Add New Scheme <i class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-6">

                                            </div>
                                        </div>

                                        <div class="table-responsive">
                                            <table id="tblCustomers" class="table table-striped custom-table table-hover">
                                                <tr>
                                                    <th>  District. </th>
                                                    <th>  Tehsil </th>
                                                    <th> Channel </th>
                                                    <th>Impr Type</th>
                                                    <th>Impr Year</th>
                                                    <th>WaterCourseNo</th>
                                                    <th> Action </th>
                                                </tr>
                                                <tr class="trclass" style="display:none">
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </table>
                                            <br />
                                            <div class="Pager"></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end page content -->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="frmAddNewWaterCourse">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add New Watercourse/Irrigation Scheme in Database</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <!-- text input -->
                                <div class="form-group">
                                    <label>Select District	</label>
                                    <select class="form-control" id="dllAddDistrict" name="dllAddDistrict" required>
                                        <option value="">--Select--</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Select Tehsil</label>
                                    <select class="form-control" id="dllAddTehsil" name="dllAddTehsil" required>
                                        <option value="">--Select--</option>
                                    </select>
                                </div>

                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Channel Name</label>
                                    <select class="form-control" id="dllAddChannelName" name="dllAddChannelName" required>
                                        <option value="">--Select--</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Watercourse No</label>
                                    <select class="form-control" id="dllAddWatercourse" name="dllAddWatercourse" required>
                                        <option value="">--Select--</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div id="successfully" class="hide alert alert-success">
                            <strong id="txtMSG"></strong> .
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="btnAddWCIdentification" type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <!-- data tables -->

    <script src="~/Scripts/ASPSnippets_Pager.min.js"></script>
    <script type="text/javascript">
        var sortName = "";
        var sortDirection = "ASC";
        $(function () {
            GetCustomers(1);
        });
        //$("body").on("click", "#tblCustomers th a", function () {
        //    sortName = $(this).html();
        //    sortDirection = sortDirection == "ASC" ? "DESC" : "ASC";
        //    GetCustomers(1);
        //});
        $("body").on("click", ".Pager .page", function () {
            GetCustomers(parseInt($(this).attr('page')));
        });
        function GetCustomers(pageIndex) {
            var filterRequest = {
                PageIndex: pageIndex,
                DistrictName: ($("#ddlDistrict").text().toLowerCase().indexOf("select") >= 0) ? "" : $("#ddlDistrict").text(),
                DistrictId: ($("#ddlDistrict").val() == "") ? 0 : $("#ddlDistrict").val(),
                TehsilName: ($("#ddlTehsil").text().toLowerCase().indexOf("select") >= 0) ? "" : $("#ddlTehsil").text(),
                TehsilId: ($("#ddlTehsil").val() == "") ? 0 : $("#ddlTehsil").val(),
                ChannelName: $("#txtChannelName").val(),
                WaterCourseNo: $("#txtwaterCourseNo").val(),
                sortName: sortName,
                sortDirection: sortDirection
            };
            $.ajax({
                type: "POST",
                url: "/WaterCourses/AjaxMethod",
                data: JSON.stringify(filterRequest),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccess,
                failure: function (response) {
                    alert(response.d);
                },
                error: function (response) {
                    alert(response.d);
                }
            });
        };
        function OnSuccess(response) {
            debugger;
            response = JSON.parse(response);
            var model = response.Collections;
            if (model.length != 0) {
            var row = $("#tblCustomers tr:last-child").removeAttr("style").clone(true);
            $("#tblCustomers tr").not($("#tblCustomers tr:first-child")).remove();
                $.each(model, function () {
                    var item = this;
                    debugger;
                    $("td", row).eq(0).html(item.DistrictName);
                    $("td", row).eq(1).html(item.TehsilName);
                    $("td", row).eq(2).html(item.ChannelName);
                    $("td", row).eq(3).html(item.ImprovementType);
                    $("td", row).eq(4).html(item.ImprovementYear);
                    $("td", row).eq(5).html(item.WaterCourseNo);
                    $("td", row).eq(6).html("<a href='/WaterCourses/DataEntry?Id=" + item.Id + "&IsNewEntry=false' class='btn btn-success btn-xs'><i class='fa fa-pencil'></i></a><a href='/WaterCourses/DataEntry?Id=" + item.Id + "&IsNewEntry=true' class='btn btn-primary btn-xs'><i class='fa fa-plus'></i></a>");
                    $("#tblCustomers").append(row);
                    row = $("#tblCustomers tr:last-child").clone(true);
                });
            } else {
                $(".trclass").hide();
            }
    $(".Pager").ASPSnippets_Pager({
        ActiveCssClass: "current",
        PagerCssClass: "pager",
        PageIndex: response.PageIndex,
        PageSize: response.PageSize,
        RecordCount: response.RecordCount
    });
};
    </script>
    <script type="text/javascript">
        var AllFilterData;
        $(document).ready(function () {
            $.ajax({
                url: '/WaterCourses/LoadAllFilterData',
                type: "GET",
                dataType: "JSON",
                success: function (data) {
                    AllFilterData = data;
                    
                    $(data.Districts).each(function () {
                        //this refers to the current item being iterated over
                        var option = $('<option />');
                        option.attr('value', this.Id).text(this.Name);
                        $('#ddlDistrict').append(option);

                        var option1 = $('<option />');
                        option1.attr('value', this.Id).text(this.Name);
                        $('#dllAddDistrict').append(option1);
                    });
                    $(data.FinancialYears).each(function () {
                        //this refers to the current item being iterated over
                        var option = $('<option />');
                        option.attr('value', this.Id).text(this.Year);
                        $('#ddlImprovementYear').append(option);


                    });
                }
            });
            $("#dllAddDistrict").on("change", ondllAddDistrictChange);
            function ondllAddDistrictChange() {
                
                $('#dllAddTehsil').empty();
                var optionSelect = $('<option />');
                optionSelect.attr('value', "").text("--Select--");
                $('#dllAddTehsil').append(optionSelect);

                var DistrictId = $('#dllAddDistrict').val();
                var data_filter = AllFilterData.Tehsils.filter(element => element.DistrictId == DistrictId);
                $(data_filter).each(function () {
                    //this refers to the current item being iterated over
                    var option = $('<option />');
                    option.attr('value', this.Id).text(this.Name);
                    $('#dllAddTehsil').append(option);
                });
            }

            $("#dllAddTehsil").on("change", ondllAddTehsilChange);
            function ondllAddTehsilChange() {
                $('#dllAddChannelName').empty();
                var optionSelect = $('<option />');
                optionSelect.attr('value', "").text("--Select--");
                $('#dllAddChannelName').append(optionSelect);

                var DistrictId = $('#dllAddDistrict').val();
                var TehsilId = $('#dllAddTehsil').val();
                if (TehsilId == "") {
                    return;
                }
                $.ajax({
                    url: '/WaterCourses/GetChannelsByDistAndTehId',
                    type: "GET",
                    dataType: "JSON",
                    data: {
                        districtId: DistrictId,
                        tehsilId: TehsilId
                    },
                    success: function (data) {
                        debugger;
                        $(data).each(function () {
                            //this refers to the current item being iterated over
                            var option = $('<option />');
                            option.attr('value', this.Id).text(this.ChannelName);
                            $('#dllAddChannelName').append(option);
                        });
                    }
                });
            }

            $("#dllAddChannelName").on("change", ondllAddChannelNameChange);
            function ondllAddChannelNameChange() {
                $('#dllAddWatercourse').empty();
                var optionSelect = $('<option />');
                optionSelect.attr('value', "").text("--Select--");
                $('#dllAddWatercourse').append(optionSelect);

                debugger;
                var DistrictId = $('#dllAddDistrict').val();
                var TehsilId = $('#dllAddTehsil').val();
                var ChannelId = $('#dllAddChannelName').val();
                if (ChannelId == "") {
                    return;
                }
                $.ajax({
                    url: '/WaterCourses/GetWaterCourses',
                    type: "GET",
                    dataType: "JSON",
                    data: {
                        districtId: DistrictId,
                        tehsilId: TehsilId,
                        channelId: ChannelId
                    },
                    success: function (data) {
                        debugger;
                        $(data).each(function () {
                            //this refers to the current item being iterated over
                            var option = $('<option />');
                            option.attr('value', this.Id).text(this.WcNo);
                            $('#dllAddWatercourse').append(option);
                        });
                    }
                });
            }

            $("#ddlDistrict").on("change", onddlDistrictChange);
            function onddlDistrictChange() {

                $('#ddlTehsil').empty();
                var DistrictId = $('#ddlDistrict').val();
                var data_filter = AllFilterData.Tehsils.filter(element => element.DistrictId == DistrictId);

                var optionSelect = $('<option />');
                optionSelect.attr('value', "").text("--Select--");
                $('#ddlTehsil').append(optionSelect);

                $(data_filter).each(function () {
                    //this refers to the current item being iterated over
                    var option = $('<option />');
                    option.attr('value', this.Id).text(this.Name);
                    $('#ddlTehsil').append(option);
                });

                GetCustomers(1);
            }

            $("#ddlTehsil").on("change", onddlTehsilChange);
            function onddlTehsilChange() {
                GetCustomers(1);
            }

            $("#txtChannelName").change(function () {
                GetCustomers(1);
            });

            $("#txtwaterCourseNo").change(function () {
                GetCustomers(1);
            });
        });

        $("#btnAddWCIdentification").on("click", onbtnAddWCIdentificationClick);
        function onbtnAddWCIdentificationClick() {
            debugger;
            $("#frmAddNewWaterCourse").validate({
                errorClass: 'help-block',
                validClass: 'success',
                errorElement: "span",
                highlight: function (element, errorClass, validClass) {
                    $(element).parents("div.form-group").addClass('has-error').removeClass(validClass);
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).parents("div.form-group").removeClass('has-error').addClass(validClass);
                }
            });
            var valid = $("#frmAddNewWaterCourse").valid();
            if (!valid) {
                return;
            }

            var DistrictId = $('#dllAddDistrict').val();
            var DistrictName = $('#dllAddDistrict').find(":selected").text();

            var TehsilId = $('#dllAddTehsil').val();
            var TehsilName = $('#dllAddTehsil').find(":selected").text();

            var ChannelId = $('#dllAddChannelName').val();
            var ChannelName = $('#dllAddChannelName').find(":selected").text();

            var WaterCourseId = $('#dllAddWatercourse').val();
            var WaterCourseNo = $('#dllAddWatercourse').find(":selected").text();


            var ImprovementType = $('#dllAddImprovementType').val();

            $.ajax({
                url: '/WaterCourses/AddWatercourseIdentification',
                type: "POST",
                dataType: "JSON",
                data: {

                    DistrictId: DistrictId,
                    DistrictName: DistrictName,
                    TehsilId: TehsilId,
                    TehsilName: TehsilName,
                    ChannelId: ChannelId,
                    ChannelName: ChannelName,
                    WaterCourseId: WaterCourseId,
                    WaterCourseNo: WaterCourseNo
                },
                success: function (data) {
                    $('#txtMSG').html(data.ResponseMessage);
                    if (data.ResponseMessage == "Watercourse already exists.") {
                        $('#successfully').removeClass('alert-success');
                        $('#successfully').addClass('alert-danger');
                    }
                    $('#successfully').removeClass('hide');
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    valid = false;
                }

            });
        }
    </script>
}