@{
    ViewBag.Title = "Home Page";
}

<!-- start page content -->
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">Dashboard</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li>
                        <i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">Dashboard</li>
                </ol>
            </div>
        </div>
        <!-- start widget -->
        <!--<div class="state-overview">
            <div class="row">
                <div class="col-xl-3 col-md-6 col-12">
                    <div class="info-box bg-b-orange">
                        <span class="info-box-icon push-bottom"><i class="material-icons">shopping_cart</i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Watercourses </span>
                            <span class="info-box-number">58,879 </span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 45%"></div>
                            </div>
                            <span class="progress-description">
                                45% Increase in 28 Days
                            </span>
                        </div>-->
        <!-- /.info-box-content -->
        <!--</div>-->
        <!-- /.info-box -->
        <!--</div>-->
        <!-- /.col -->
        <!--<div class="col-xl-3 col-md-6 col-12">
            <div class="info-box bg-b-purple">
                <span class="info-box-icon push-bottom"><i class="material-icons">redeem</i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Approved ICR-I</span>
                    <span class="info-box-number">155</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 40%"></div>
                    </div>
                    <span class="progress-description">
                        40% Increase in 28 Days
                    </span>
                </div>-->
        <!-- /.info-box-content -->
        <!--</div>-->
        <!-- /.info-box -->
        <!--</div>-->
        <!-- /.col -->
        <!--<div class="col-xl-3 col-md-6 col-12">
            <div class="info-box bg-b-cyan">
                <span class="info-box-icon push-bottom"><i class="material-icons">group</i></span>
                <div class="info-box-content">
                    <span class="info-box-text">New Users</span>
                    <span class="info-box-number">52</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 85%"></div>
                    </div>
                    <span class="progress-description">
                        85% Increase in 28 Days
                    </span>
                </div>-->
        <!-- /.info-box-content -->
        <!--</div>-->
        <!-- /.info-box -->
        <!--</div>-->
        <!-- /.col -->
        <!--<div class="col-xl-3 col-md-6 col-12">
            <div class="info-box bg-b-black">
                <span class="info-box-icon push-bottom"><i class="material-icons">monetization_on</i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Collection</span>
                    <span class="info-box-number">13,921</span><span>$</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 50%"></div>
                    </div>
                    <span class="progress-description">
                        50% Increase in 28 Days
                    </span>
                </div>-->
        <!-- /.info-box-content -->
        <!--</div>-->
        <!-- /.info-box -->
        <!--</div>-->
        <!-- /.col -->
        <!--</div>
        </div>-->
        <!-- end widget -->
        <!-- chart start -->
        <div class="row">
            <div class="col-sm-8">
                <div class="card card-box">
                    <div class="card-head">
                        <header>Overview</header>
                        <div class="tools">
                            <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                            <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                        </div>
                    </div>
                    <div class="card-body no-padding height-9">
                        <div class="row">
                            <canvas id="canvas1"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card card-box">
                    <div class="card-head">
                        <header>
                            Status of Watercourses
                        </header>
                        <div class="tools">
                            <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                            <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                        </div>
                    </div>
                    <div class="card-body no-padding height-9">
                        <div class="row">
                            <canvas id="chartjs_pie"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Chart end -->
        <div class="row">
            <div class="col-md-4 col-sm-12 col-12">
                <div class="card card-box">
                    <div class="card-head">
                        <header>
                            Watercourse Improvement Status
                        </header>
                        <div class="tools">
                            <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                            <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                        </div>
                    </div>
                    <div class="card-body no-padding height-9">
                        <div class="row">
                            <canvas id="chartjs_WatercourseImprovementStatus"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-12">
                <div class="card card-box">
                    <div class="card-head">
                        <header>
                            Length of Improved Watercourses (‘000’ KMs)
                        </header>
                        <div class="tools">
                            <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                            <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                        </div>
                    </div>
                    <div class="card-body no-padding height-9">
                        <div class="row">
                            <canvas id="chartjs_LengthOfImprovedWatercourses"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-12">
                <div class="card card-box">
                    <div class="card-head">
                        <header>
                            Financial Implication (Rs. Billion)
                        </header>
                        <div class="tools">
                            <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                            <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                        </div>
                    </div>
                    <div class="card-body no-padding height-9">
                        <div class="row">
                            <canvas id="chartjs_FinancialImplication"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Quick Mail start -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card-box">
                    <div class="card-head">
                        <header>District Wise WaterCource Improvement Status</header>
                        <button id="demo_menu-lower-right"
                                class="mdl-button mdl-js-button mdl-button--icon pull-right"
                                data-upgraded=",MaterialButton">
                            <i class="material-icons">more_vert</i>
                        </button>
                        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                            data-mdl-for="demo_menu-lower-right">
                            <li class="mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
                            <li class="mdl-menu__item"><i class="material-icons">print</i>Another action</li>
                            <li class="mdl-menu__item"><i class="material-icons">favorite</i>Something else here</li>
                        </ul>
                    </div>
                    <div class="card-body no-padding height-9">
                        <div class="row">
                            <canvas id="canvas_DistrictWiseWaterCourceImprovementStatus"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Quick Mail end -->

        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card-box">
                    <div class="card-head">
                        <header>Year Wise WaterCource Improvement Trend</header>
                        <button id="panel-button8"
                                class="mdl-button mdl-js-button mdl-button--icon pull-right"
                                data-upgraded=",MaterialButton">
                            <i class="material-icons">more_vert</i>
                        </button>
                        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                            data-mdl-for="panel-button8">
                            <li class="mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
                            <li class="mdl-menu__item"><i class="material-icons">print</i>Another action</li>
                            <li class="mdl-menu__item"><i class="material-icons">favorite</i>Something else here</li>
                        </ul>
                    </div>
                    <div class="card-body no-padding height-9">
                        <div class="row">
                            <canvas id="canvas_YearWiseWaterCourceImprovementStatus"></canvas>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- start Payment Details -->
        <div class="row">
            <div class="col-md-12 col-sm-12">
                
                <div class="card  card-box">
                    <div class="card-head">
                        <header>
                            District wise Overview
                        </header>
                        
                    </div>
                    <div class="card-body row ">
                        <div class="col-md-12" >
                            <div class="form-group col-lg-2 col-md-2 col-sm-2 col-2" style="float: right;">
                                <label>District </label>
                                <select id="ddlDistrict" name="ddlDistrict" class="form-control" required>
                                    <option value="">--Select--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-12">
                            <canvas id="districtWise_UnImprovementStatus"></canvas>
                        </div>
                        <div class="col-md-8 col-sm-12 col-12">
                            <canvas id="districtWise_WatercourseImprovementStatus"></canvas>
                        </div>
                        <div class="col-md-6 col-sm-12 col-12">
                            <canvas id="districtWise_LengthOfImprovedWatercourses"></canvas>
                        </div>
                        <div class="col-md-6 col-sm-12 col-12">
                            <canvas id="districtWise_TehsilWiseWatercourseImprovement"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end Payment Details -->
    </div>
</div>
<!-- end page content -->
@section scripts{
    <!-- chart js -->
    <script src="../content/assets/plugins/chart-js/Chart.bundle.js"></script>
    <script src="../content/assets/plugins/chart-js/utils.js"></script>
    <script src="../content/assets/js/heis-charts.js"></script>
}
